@font-face {
  font-family: pt-sans-reg;
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/pt-sans/pt-sans-regular.ttf');
}

@font-face {
  font-family: arial-mt;
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/arial-mt/arial-mt-regular.otf');
}

@font-face {
  font-family: bebas-neue;
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/bebas-neue/bebas-neue-regular.ttf');
}

@font-face {
  font-family: cambria-reg;
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/cambria/cambria-regular.ttf');
}

@font-face {
  font-family: cambria-ital;
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/cambria/cambria-italic.ttf');
}

@font-face {
  font-family: helvetica-lt-cond;
  font-style: normal;
  font-weight: 300;
  src: url('./assets/fonts/helvetica-lt-condensed/helvetica-lt-condensed-regular.ttf');
}

@font-face {
  font-family: arial-black;
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/arial-black/arial-black-regular.ttf');
}

$pt-sans-reg: 'PT Sans Regular', Arial, sans-serif;
$arial-mt: 'Arial MT', Arial, sans-serif;
$bebas-neue: 'Bebas Neue', Arial, sans-serif;
$cambria-reg: 'Cambria Regular', Arial, sans-serif;
$cambria-ital: 'Cambria Italic', Arial, sans-serif;
$helvetica-lt-cond: 'Helvetica LT Condensed', Arial, sans-serif;
$arial-black: 'Arial Black', Arial, sans-serif;

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

.container {
  margin: 0 auto;
}

@media only screen and (min-width: 555px) and (max-width: 966px) {
  .container {
    width: 555px;
  }
}

@media only screen and (min-width: 967px) {
  .container {
    width: 967px;
  }
}