.main {
  width: 70%;
  height: auto;
  text-align: left;
  padding-left: 50px;
  padding-top: 50px;
  b {
    margin-right: 50px;
  }
  .form_link {
    text-align: right;
    margin-right: 50px;
  }
}