.header__nav {
  width: 100%;
  height: 690px;
  background-color: #412718;
  &__box {
    width: 100%;
    height: 110px;
    display: flex;
    &__logo {
      width: 50%;
      margin-top: 25px;
      margin-left: 20px;
      &__name {
        margin-bottom: 6px;
        color: #ffffff;
        font-family: Georgia, Arial, sans-serif;
        font-size: 36px;
        font-weight: 400;
        line-height: 36px;
      }
      &__signature {
        color: #ffffff;
        font-family: Georgia, Arial, sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 16px;
      }
    }
    &__menu {
      width: 50%;
      &__squares {
        width: 100%;
        margin-top: 8px;
        &__list {
          list-style-type: none;
          display: flex;
          justify-content: flex-end;
          &__item {
            width: 25px;
            height: 25px;
            border: 1px solid #8f5f26;
            margin-right: 20px;
          }
        }
      }
      &__links {
        width: 100%;
        margin-top: 30px;
        &__list {
          list-style-type: none;
          display: flex;
          justify-content: flex-end;
          &__item {
            width: 100%;
            height: 45px;
            margin: 0 8px;
            background-color: #8f5f26;
            &__link {
              display: block;
              padding: 15px;
              color: #ffffff;
              font-family: Verdana, Arial, sans-serif;
              font-size: 14px;
              line-height: 14px;
              text-decoration: none;
              text-align: center;
            }
          }
          &__item:hover {
            background-color: #ff9900;
          }
        }
      }
    }
  }
  &__info {
    width: 100%;
    height: 580px;
    background-color: #5b3a27;
    display: flex;
    &__images {
      width: 65%;
      height: 100%;
      margin-top: 40px;
      margin-left: 25px;
      &__pic {
        display: flex;
        justify-content: space-around;
        align-items: center;
        border: 4px solid white;
        box-shadow: 0 0 0 1px #a46661;
        background-color: #333333;
        &--big {
          width: 640px;
          height: 350px;
          clear: both;
        }
        &--small {
          float: left;
          width: 200px;
          height: 110px;
          margin-top: 35px;
          margin-left: 12px;
        }
        &--first {
          margin-left: 0;
        }
        &__size {
          color: #ffffff;
          font-family: Georgia, Arial, sans-serif;
          font-weight: 400;
          &--big {
            font-size: 30px;
            line-height: 30px;
          }
          &--small {
            font-size: 24px;
            line-height: 24px;
          }
        }
      }
    }
    &__book {
      width: 35%;
      height: 510px;
      border: 1px solid #a46461;
      margin: 40px 25px 40px 12px;
      padding-left: 12px;
      &__title {
        color: #cccccc;
        margin-top: 12px;
        font-family: Georgia, Arial, sans-serif;
        font-size: 22px;
        font-weight: 400;
        line-height: 22px;
      }
      &__line {
        width: 263px;
        height: 1px;
        background-color: #cccccc;
        border: none;
      }
      &__form {
        &__box {
          margin-top: 17px;
          label {
            color: #ffffff;
            font-family: Verdana, Arial, sans-serif;
            font-size: 13px;
            font-weight: 400;
            line-height: 13px;
          }
          &__name,
          &__email {
            width: 261px;
            height: 23px;
            background-color: #20130b;
            border: 1px solid #a46461;
          }
          &__inner {
            width: 263px;
            display: flex;
            justify-content: space-between;
            &__arrival-date,
            &__departure-date {
              width: 78px;
              height: 23px;
              background-color: #20130b;
              border: 1px solid #a46461;
            }
          }
          &__submit {
            width: 265px;
            height: 28px;
            background-color: #a46461;
            color: #ffffff;
            font-family: Verdana, Arial, sans-serif;
            font-size: 13px;
            font-weight: bold;
            line-height: 13px;
            border: 1px solid black;
            cursor: pointer;
          }
        }
        &__outer {
          display: flex;
          &__box {
            margin-top: 17px;
            label {
              color: #ffffff;
              font-family: Verdana, Arial, sans-serif;
              font-size: 13px;
              font-weight: 400;
              line-height: 13px;
            }
            &__adults,
            &__children {
              width: 130px;
              height: 23px;
              background-color: #20130b;
              border: 1px solid #a46461;
            }
          }
        }
      }
      &__pdf {
        width: 263px;
        height: 64px;
        margin-top: 15px;
        background-color: #e9e9c0;
        border: 1px solid #a46461;
        &__link {
          padding-top: 3px;
          text-decoration: none;
          display: flex;
          justify-content: space-around;
          align-items: center;
          &__img {
            width: 38px;
          }
          &__text {
            width: 209px;
            color: #a46461;
            font-family: Verdana, Arial, sans-serif;
            font-size: 11px;
            font-weight: 400;
            line-height: 13.2px;
          }
        }
      }
    }
  }
}