body {
	width: 100%;
	height: 100%;
	background: url(../img/background1.jpg);
	background-size: cover;
}
#conteiner {
	width: 80%;
	position: absolute;
	top: 0;
	left: 10%;
	box-shadow: 0 5px 20px 5px #031d28;
}
.header {
	width: 100%;
	height: 175px;
	background-color: white;
}
.logo {
	padding-top: 10px;
	padding-left: 25px;
	width: 640px;
}
.zagolovok {
	position: absolute;
	z-index: 1;
	left: 100px;
	top: 100px;
	color: #128aa7;
	font-family: tahoma;
	font-size: 12px;
}
.contact {
	position: absolute;
	top: 0;
	left: 840px;
	display: block;
	padding: 10px;
	font-family: tahoma;
	font-size: 12px;
	color: #128aa7;
	line-height: 1.5;
}
.contact a {
	font-family: tahoma;
	font-size: 12px;
	color: #128aa7;
	text-decoration: none;
}
.logo_countries {
	position: absolute;
	top: 100px;
	left: 640px;
	clear: both;
}
.logo_countries li {
	display: inline-block;
	padding: 5px;
	text-align: center;
}
.logo_countries li a img {
	display: block;
}
.logo_countries li div a {
	font-family: tahoma;
	font-size: 10px;
	color: #128aa7;
}
.photo1 {
	width: 100%;
	border-top: 1px solid #128aa7;
	border-bottom: 1px solid #128aa7;
}
ul.glavmenu {
	width: 100%;
	display: block;
	margin: 0;
}
ul:after {
	display: block;
	content: ' ';
	clear: both;
	float: none;
}
ul.glavmenu li {
	width: auto;
	float: left;
	position: relative;
	margin: -3px 0 0 0;
	background-color: #343434;
	border-bottom: 2px solid black;
	box-shadow: 0 2px 22px 2px #343434;
}
ul.glavmenu li a {
	display: block;
	color: white;
	background-color: #343434;
	text-decoration: none;
	font-family: tahoma;
	font-size: 14px;
	padding: 10px 39.38px;
	box-sizing: border-box;
}
ul.submenu {
	display: none;
	position: absolute;
	top: 114%;
	left: 0;
	margin: 0;
	padding: 0;
}
ul.submenu li {
	display: block;
	box-shadow: 0 8px 8px 0 #323232;
	margin-right: 10px;
	padding: 10px;
	left: 28px;
	z-index: 1;
}
ul.submenu li a {
	display: block;
	color: white;
	background-color: #343434;
	text-decoration: none;
	font-family: tahoma;
	font-size: 14px;
	margin: 0;
	padding: 0 35px 0 0;
}
ul.glavmenu li:hover ul.submenu {
	display: block;
}
ul.glavmenu li:hover ul.submenu li {
	border: none;
}
.triangle-down {
	position: absolute;
	top: 14px;
	right: 15px;
	width: 0;
	height: 0;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 8px solid white;
}
p {
	text-align: center;
	font-weight: bold;
	font-family: tahoma;
	font-size: 18px;
	clear: both;
	padding-top: 10px;
}
.info {
	width: 100%;
	overflow: hidden;
	line-height: 1.5;
	color: #424c43;
	clear: both;
}
.info1 {
	text-align: center;
	clear: both;
}
.info2 {
	text-align: center;
	clear: both;
}
.leftside {
	width: 25%;
	float: left;
	border-right: 1px solid grey;
	padding-bottom: 20000%;
	margin-bottom: -20000%;
	margin-top: -3px;
	font-family: tahoma;
	font-size: 14px;
	background-color: #edeef0;
}
.middleside {
	width: 50%;
	background-color: white;
	float: left;
	padding-bottom: 20000%;
	margin-bottom: -20000%;
	margin-top: -3px;
}
.rightside {
	width: 25%;
	float: right;
	border-left: 1px solid grey ;
	font-family: tahoma;
	font-size: 14px;
	padding-bottom: 20000%;
	margin-bottom: -20000%;
	margin-top: -3px;
	background-color: #edeef0;
}
.footer {
	width: 100%;
	position: absolute;
	z-index: 2;
	top: 940px;
	text-align: center;
	font-family: tahoma;
	font-size: 12px;
	color: #c1d3df;
	clear: both;
	margin-bottom: 15px;
}
.footer a {
	text-decoration: none;
	font-family: tahoma;
	font-size: 12px;
	color: #c1d3df;
}