* {
    font-family: "Lucida Console", Arial, sans-serif;
    margin: 0;
    padding: 0;
}
body {
    overflow: scroll;
}
.container {
    width: 700px;
    height: auto;
    margin: 0 auto;
}
header {
    margin: 20px 0;
}
nav {
    width:  100%;
    height: 30px;
    margin-bottom: 20px;
}
nav>ul {
    list-style-type: none;
}
nav>ul>li {
    float: left;
    width: 50%;
    line-height: 30px;
    text-align: center;
    background: rosybrown;
    border: 1px solid sandybrown;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
nav>ul>li:first-child {
    border-right: none;
}
nav>ul>li:hover {
    background: sandybrown;
}
.nav_link {
    display: block;
    color: black;
    text-decoration: none;
}
main {
    clear: both;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    padding-bottom: 20px;
    background: sandybrown;
}
.main_title {
    font-size: 25px;
    font-weight: normal;
    text-align: left;
    padding: 20px;
}
p {
    padding: 10px;
    text-align: justify;
    text-indent: 25px;
}
img {
    width: 200px;
    height: 200px;
    padding: 10px;
    float: left;
}
footer {
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    background: sandybrown;
    clear: both;
}
.footer_list {
    list-style-type: none;
    width: 100%;
    line-height: 50px;
}
.footer_list>li {
    float: left;
    width: 50%;
}
.footer_list>li:last-child {
    text-align: center;
}
.footer_link {
    display: inline;
    color: black;
    text-decoration: none;
}
.footer_link__first {
    padding-left: 20px;
    font-size: 25px;
}
.footer_link__second:hover {
    text-decoration: underline;
}