* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans";
}
.container {
    width: 500px;
    height: 650px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -325px;
    margin-left: -250px;
    background-color: yellow;
    background: url(../img/img2.jpg) no-repeat 122% 25%;
}
.text_box {
    background-color: #E1D7F0;
    width: 50%;
    height: 650px;
    float: right;
}
.title {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    background-color: #E1D7CD;
}
.header_box {
    margin-top: 5px;
    margin-right: 10px;
    text-align: right;
}
.header_text {
    font-size: 15px;
}
.header_link {
    color: black;
    font-size: 13px;
}
main {
    clear: both;
}
.section_box {
    margin-top: 5px;
}
.section_title {
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    background-color: #E1D7CD;
}

.section_list {
    list-style: square;
    margin-top: 5px;
    margin-left: 25px;
}
.section_text {
    font-size: 14px;
    margin-right: 10px;
}
.place {
    text-align: right;
}
.footer {
    background-color: #E1D7CD;
}
.footer_link {
    color: black;
    display: block;
    margin-left: 144px;
    width: 96px;
}